{% extends 'AllStudents/add_allstudent.html' %}


<title>{% block title %}  مباشرات الطالب/ة {% endblock title %}</title>

{% block navbar-content %}
     <i class="fas fa-user-edit"></i> {{allstd.name}}
{% endblock navbar-content %}

{% block card-title %} Registered at <span class="text-primary"><strong>{{allstd.created_at | date:'m/d/Y' }}</strong></span> {% endblock card-title %}
<!--end Patients -->


{% block value-name-all %} value="{{allstd.name}}" {% endblock value-name-all %}


{% block value-depart-all %} value="{{user.Dname}}"  {% endblock value-depart-all %}


{% block value-city-all %} value="{{user.Cname}}"  {% endblock value-city-all %}


{% block value-date-all %}  value="{{allstd.date | date:'Y-m-d'}}"  {% endblock value-date-all %}

{% block value-year-all %}  value="{{allstd.year}}"  {% endblock value-year-all %}






 {% block option-stage-all %} <option  style="background-color:#d3d3d3; color:red; font-weight:bold;">{{allstd.stage}}</option>{% endblock option-stage-all %}              
 {% block value-stage-all %} value="{{allstd.stage}}"   {% endblock value-stage-all %}


  {% block option-study-all %} <option  style="background-color:#d3d3d3; color:red; font-weight:bold;">{{allstd.study}}</option>{% endblock option-study-all %}              
 {% block value-study-all %} value="{{allstd.study}}"   {% endblock value-study-all %}


  {% block option-state-all %} <option  style="background-color:#d3d3d3; color:red; font-weight:bold;">{{allstd.state}}</option>{% endblock option-state-all %}              
 {% block value-state-all %} value="{{allstd.state}}"   {% endblock value-state-all %}



{% block value-note-all %}{{allstd.note}}{% endblock value-note-all %}


{% block btn-content %} <i class="fas fa-hdd"></i>&nbsp;&nbsp; Save {% endblock btn-content %}

{% block btn-reset %} 
<button type="reset" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp; Reset</button>
{% endblock btn-reset %}



{% block Action %} action="/edit_allstudent/" {% endblock Action %}

 



{% block Id-hidden %}
<input type="hidden" name="id"  value="{{allstd.id}}">
{% endblock Id-hidden %}

