{% extends 'base2.html' %}


<title>{% block title %} اضافة طالب {% endblock title %}</title>



<!-- Patients -->
{% block navbar-content %}
     <i class="fas fa-user-plus"></i> حالات الطلبة
{% endblock navbar-content %}
<!--end Patients -->



<!-- button logut -->

<!--end button logut -->

{% block content %}

     <div class="container" style="padding-top:50px;">
          <div class="row">
               <div class="col-lg-12 col-sm-12">
                    <div class="card card-body border-dark  mt-5">
                         <span class="text-center">{% block card-title %}<span class="text-primary">أملئ الحقول بالمعلومات الصحيحة</span>{% endblock card-title %}</span>
                    </div>
                    <!-- FORM -->
                    <form {% block Action %} action="/add_studentState/" {% endblock Action %} method="POST" enctype="multipart/form-data" class="card p-1 porder-dark mt-1">
                         {% csrf_token %}

                         <div class="input-group input-group-sm mb-3">
                              
                              <input type="text" class="form-control" hidden name="user" id="user" value="{{user.user}}" required  {% block value-user %}{% endblock value-user %}>
                         </div>

                         <div class="input-group input-group-sm mb-3">
                              <input type="text" class="form-control text-end" name="name" id="name" placeholder="اسم الطالب/ة" required  {% block value-name %}{% endblock value-name %}>
                              <span class="input-group-text side-label ">الاسم</span>
                         </div>

                        
                              <input type="text" class="form-control text-end"  name="depart" hidden id="depart"  value="{{user.Dname}}" placeholder="القسم الذي تخرج منه" required {% block value-depart %}{% endblock value-depart %}>
                         
                         
                        
                              <input type="text" class="form-control text-end"  name="city" hidden id="city" value="{{user.Cname}}" placeholder="المحافظة" required {% block value-city %}{% endblock value-city %}>
                       

                         <!-- choose stage -->

                            <div class="input-group input-group-sm mb-3 ">
                             
                              <select dir="ltr" class="form-select " name="stage" id="stage" required {% block value-stage %}{% endblock value-stage %}>
                              <label class="input-group-text ">المرحلة</label>
                                   {% block option-stage %}
                                   <option style="text-align:left;" value="" hidden>اختر المرحلة</option>
                                   {% endblock option-stage %}
                                   <option disabled></option>
                                   <option >الاولى</option>
                                   <option >الثانية</option>
                                   <option >الثالثة</option>
                                   <option >الرابعة</option>
                              </select>
                               <span class="input-group-text side-label ">المرحلة</span>
                         </div>

                            <div class="input-group input-group-sm mb-3 ">
                             
                              <select dir="ltr" class="form-select" name="study" id="study" required {% block value-study %}{% endblock value-study %}>
                                   {% block option-study %}
                                   <option style="text-align:left;" value="" hidden>اختر الدراسة</option>
                                   {% endblock option-study %}
                                   <option disabled></option>
                                   <option >الصباحية</option>
                                   <option >المسائية</option>
                                   
                              </select>
                               <label class="input-group-text side-label">الدراسة</label>
                         </div>

                         <!-- choose state -->

                          <div class="input-group input-group-sm mb-3 ">
                            
                              <select dir="ltr" class="form-select" name="state" id="state" required {% block value-state %}{% endblock value-state %}>
                                    {% block option-state %}
                                   <option style="text-align:left;" value="" hidden>اختر الحالة</option>
                                    {% endblock option-state %}
                                   <option disabled></option>
                                   <option >استضافة</option>
                                   <option >نقل</option>
                                    <option >تأجيل</option>
                                   <option >رسوب</option>
                                   <option >ترقين قيد</option>
                              </select>
                                <label class="input-group-text side-label">الحالة</label>
                         </div>
                         

                            <div class="input-group input-group-sm mb-3 ">
                            
                              <input type="text" class="form-control text-end" name="year" maxlength="10" id="year" placeholder="العام الدراسي" required {% block value-year %}{% endblock value-year %}>
                                <span class="input-group-text side-label text-center">العام الدراسي </span>
                         </div>

                        

                       

                         <div class="form-group">
                              <textarea class="form-control" name="note" id="note"   rows="7" placeholder="....... الملاحظات">{% block value-note %}{% endblock value-note %}</textarea>
                         </div>


                         <div class="d-grid gap-2 mt-3">
                              <button type="submit" class="btn btn-primary btn-sm"  id="btn-add">
                                  {% block btn-content %} <i class="fas fa-plus"></i>&nbsp;&nbsp; اضافة {% endblock btn-content %}
                              </button>

                              <!-------- button reset denied here-->
                              {% block btn-reset %} {% endblock btn-reset %}

                              <a href="{% url 'backendState' %}" class="btn btn-dark btn-sm"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp; Back</a>   
                        
                         </div>

                         {% block Id-hidden %}{% endblock Id-hidden %}



                    </form>
               </div>
          </div>
          </div>

{% endblock content %}