
{% extends 'base2.html' %}


<title>{% block title %} سجل وثائق الطلبة {% endblock title %}</title>






{% block content %}
  
<div class="container" style="padding-top:0px;">
     <br><br>
     <div class="d-flex justify-content-between">
          <a href="{% url 'add_studentDoc' %}" class="btn btn-outline-primary btn-sm"> <i class="fas fa-plus"></i>&nbsp;&nbsp; اضافة وثائق الطلبة</a>
     </div>

     <form action="">
          <div class="input-group input-group-sm mb-3 mt-4">
               <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
               <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
               <a href="{% url 'backend' %}" class="btn btn-dark" style="margin-left:2px;"><i class="fas fa-sync-alt"></i></a>
          </div>
     </form>

     <center>
          <table class="table table-bordered table-sm mt-4" style="text-align: center; font-size: 14px;">
               <thead class="table-secondary"> 
                  <div class="row">
                    <tr>
                         <th class="col-lg-2 col-sm-1" style="width:10%;" colspan="1">Action</th>
                         <th class="col-lg-2 col-sm-1" style="width:10%;">تاريخ الوثيقة</th>
                         <th class="col-lg-2 col-sm-1" style="width:8%;">رقم الوثيقة</th>
                         <th class="col-lg-2 col-sm-1" style="width:13%;">الى</th>
                         <th class="col-lg-2 col-sm-1" style="width:11%;">سنة التخرج</th>
                         <th class="col-lg-2 col-sm-1" style="width:10%;">الدراسة</th>
                         <th class="col-lg-2 col-sm-1" style="width:10%;">المحافظة</th>
                         <th class="col-lg-2 col-sm-1" style="width:10%;">القسم</th>
                         <th class="col-lg-2 col-sm-1" style="width:18%;">اسم الطالب/ة</th>
                    </tr>
                    </div>
                    </thead>
               {% for std in studentDoc %}
         
                <tr>
                    <td id="responsive-border" >
                              <a href="/studentDoc/{{std.id}}" class="btn btn-primary " title="Edit patient">
                                   <i class="fas fa-pen"></i>
                              </a>
                         <a class="btn btn-secondary btn-danger"  title="Remove state" data-bs-toggle="modal" data-bs-target="#deleteModal{{std.pk}}">
                              <i class="fas fa-trash-alt"></i>
                    </a>
                   </td>
                    <td id="responsive-border" data-label="تاريخ الوثيقة" >{{std.Ddate | date:'m/d/Y' }}</td>
                    <td id="responsive-border"data-label="رقم الوثيقة">{{std.Dnumber}}  </td>
                    <td id="responsive-border"data-label=" الى">{{std.to}}</td>
                    <td id="responsive-border"data-label=" سنة التخرج ">{{std.graduate_year}}</td>
                     <td id="responsive-border"data-label="الدراسة ">{{std.study}}</td>
                    <td id="responsive-border" data-label="المحافظة">{{std.Cname}}</td>
                    <td id="responsive-border" data-label="القسم">{{std.Dname}}</td>
                    <td style="text-align:cnter;" data-label="اسم الطالب/ة"id="top-table">{{std.name}}</td>
               </tr>  
              
         
           

<div class="modal fade" id="deleteModal{{std.pk}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="fas fa-trash"></i>&nbsp;&nbsp;  حذف الوثيقة</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body text-center">
                    <span class="text-danger"><i class="fas fa-trash-alt fa-3x mt-4"></i></span>
                    <div class="mt-4 mb-4 text-danger">هل انت متأكد انك تريد حذف الوثيقة</div>
                    <span class="text-dark mt-3 mb-2">الطالب/ة: <strong>{{std.name}}</strong></span>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">الغاء</button>
                    <a href="/delete_studentDoc/{{std.id}}" type="button" class="btn btn-danger btn-sm">حذف</a>
               </div>
          </div>
     </div>
</div>
   
               {% endfor %}
              
                </table>
            
     </center>
 
     <!-- Button trigger modal -->

<!-- Modal -->

     <!-- Pagination -->

     <nav class="mt-4" aria-label="page navigation example">
          {% if studentDoc.has_other_pages %}
          <ul class="pagination justify-content-left">
               {% if studentDoc.has_previous %}
               <a href="?page=1" class="btn btn-outline-primary mb-4" style="width:60px; border-radius:1px; border:1px solid #d3d3d3">First</a>
               <li class="page-item"> <a class="page-link" href="?page= {{studentDoc.previous_page_number}}"><i class="fas fa-angle-double-left"></i></a></li>
               {% else %}
               <li class="page-item disabled"></li>
               {% endif %}

               {% for i in studentDoc.paginator.page_range %}
               {% if patients.number == i %}
               <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only"></span></span></li>
               {% else %}
               <li class="page-item"><a href="?page={{i}}" class="page-link">{{ i }}</a></li>
               {% endif %}
               {% endfor %}

               {% if studentDoc.has_next %}
               <li class="page-item"><a href="?page={{studentDoc.next_page_number}}" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
               <a href="?page={{studentDoc.paginator.num_pages}}" class="btn btn-outline-primary mb-4" style="width:60px; border-radius:1px; border:1px solid #d3d3d3; border-left: none;">Last</a>
               {% else %}
               <li class="page-item disabled"></li>
               {% endif %}
          </ul>
          {% endif %}


       
          </nav>

    <br> <br>
     {% for message in messages %}
     {% if message.tags == 'success' %}
    

     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <script>
          var n = "{{ message }}";
          Swal.fire("Perfect !",n,"success")
          
     </script>
     {% endif %}
 
{% endfor %}
     </div>
     
     
{% endblock content %}




